<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>

  <div class="field">
    <%= form.label :deadline %>
    <%= form.datetime_select :deadline, include_blank: true %>
  </div>

  <div class="label">
    <%= form.label :name %>
    <label for="tag_check.">
      <%= form.collection_select :tag_id, Tag.all, :id, :name %>
    </label>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
